# Создать окружение <br>
python3 -m pip install virtualenv <br>
python3 -m virtualenv env <br>
Для Виндоус:<br>
env/Scripts/activate <br>
Для Линукс: <br>
source env/bin/activate

# Установить библиотеки
pip install pandas, requests, html5lib

# Библиотеки

In [3]:
import pandas as pd # нужно для датафреймов
import requests # нужно для того чтоб достать текст из страницы
from io import StringIO # нужно для того чтоб превратить текст в датафрейм

In [28]:
# индексы регионов Украины на сайте https://www.star.nesdis.noaa.gov
dct = {2: 'Chernihiv',
 1: 'Cherkasy',
 4: 'Crimea',
 5: "Dnipropetrovs'k",
 6: "Donets'k",
 7: "Ivano-Frankivs'k",
 8: 'Kharkiv',
 9: 'Kherson',
 10: "Khmel'nyts'kyy",
 11: 'Kiev',
 12: 'Kiev City',
 13: 'Kirovohrad',
 14: "Luhans'k",
 15: "L'viv",
 16: 'Mykolayiv',
 17: 'Odessa',
 18: 'Poltava',
 19: 'Rivne',
 20: "Sevastopol'",
 21: 'Sumy',
 22: "Ternopil'",
 23: 'Transcarpathia',
 24: 'Vinnytsya',
 25: 'Volyn',
 26: 'Zaporizhzhya',
 27: 'Zhytomyr'}

# Берем данные для всех регионов Украины

In [40]:
# список, которые будет наполняться датафреймами для каждого региона чтоб потом обьединить их в один
data_list = []
for index in dct.keys():
    print(index)
    try:
        url = f"https://www.star.nesdis.noaa.gov/smcd/emb/vci/VH/get_TS_admin.php?country=UKR&provinceID={index}&year1=1981&year2=2020&type=Mean"
        data = requests.get(url).text
        df=pd.read_csv(
                   StringIO(data.split('<pre>')[1]), 
                   header=None, 
                   names=['year','week','NDVI', 'BT', 'VCI','TCI','VHI','f']
                  )
        df['region_index'] = index
        df['region_name'] = dct[index]
    except Exception as e:
        print(f"Error: {e}")
        df = pd.DataFrame(columns=['year','week','NDVI', 'BT', 'VCI','TCI','VHI','f', 'region_index','region_name'])
    data_list.append(df)
df = pd.concat(data_list)

2
1
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27

In [41]:
# убираем лишнюю колонку которая парсится случайным образом
df.drop('f', axis=1, inplace=True)

In [44]:
# чистим данные
df.dropna(inplace=True)
df=df[df['NDVI']!=-1]

In [45]:
df

      year  week   NDVI      BT    VCI    TCI    VHI  region_index region_name
0     1982   1.0  0.060  258.80  38.36  47.85  43.10             2   Chernihiv
1     1982   2.0  0.061  260.12  38.92  42.42  40.67             2   Chernihiv
2     1982   3.0  0.059  260.66  36.22  42.39  39.30             2   Chernihiv
3     1982   4.0  0.058  261.71  35.32  41.06  38.19             2   Chernihiv
4     1982   5.0  0.053  261.20  31.66  48.09  39.88             2   Chernihiv
...    ...   ...    ...     ...    ...    ...    ...           ...         ...
1985  2020  10.0  0.185  278.17  78.90  16.89  47.89            27    Zhytomyr
1986  2020  11.0  0.203  280.17  79.44  15.81  47.62            27    Zhytomyr
1987  2020  12.0  0.217  282.08  78.62  18.19  48.41            27    Zhytomyr
1988  2020  13.0  0.227  283.79  75.01  20.19  47.60            27    Zhytomyr
1989  2020  14.0  0.232  285.21  67.44  22.65  45.05            27    Zhytomyr

[50414 rows x 9 columns]

# Меняем индексы стран на новые согласно лабораторной

In [46]:
# новые индексы из лабораторной
dct = {24: 'Chernihiv',
 22: 'Cherkasy',
 25: 'Crimea',
 3: "Dnipropetrovs'k",
 4: "Donets'k",
 8: "Ivano-Frankivs'k",
 19: 'Kharkiv',
 20: 'Kherson',
 21: "Khmel'nyts'kyy",
 9: 'Kiev',
 #12: 'Kiev City',
 10: 'Kirovohrad',
 11: "Luhans'k",
 12: "L'viv",
 13: 'Mykolayiv',
 14: 'Odessa',
 15: 'Poltava',
 16: 'Rivne',
 #20: "Sevastopol'",
 17: 'Sumy',
 18: "Ternopil'",
 6: 'Transcarpathia',
 1: 'Vinnytsya',
 2: 'Volyn',
 7: 'Zaporizhzhya',
 5: 'Zhytomyr'}

In [47]:
new_dict = dict([(value, key) for key, value in dct.items()])

In [48]:
new_dict

{'Chernihiv': 24,
 'Cherkasy': 22,
 'Crimea': 25,
 "Dnipropetrovs'k": 3,
 "Donets'k": 4,
 "Ivano-Frankivs'k": 8,
 'Kharkiv': 19,
 'Kherson': 20,
 "Khmel'nyts'kyy": 21,
 'Kiev': 9,
 'Kirovohrad': 10,
 "Luhans'k": 11,
 "L'viv": 12,
 'Mykolayiv': 13,
 'Odessa': 14,
 'Poltava': 15,
 'Rivne': 16,
 'Sumy': 17,
 "Ternopil'": 18,
 'Transcarpathia': 6,
 'Vinnytsya': 1,
 'Volyn': 2,
 'Zaporizhzhya': 7,
 'Zhytomyr': 5}

In [49]:
# удаляем те регионы которых нет в документе лабораторной
df = df[~df['region_index'].isin([12,20])]

In [56]:
df['new_region_index'] = df['region_name'].apply(lambda x: new_dict.get(x))

/home/alex_adataforestai/alex/myvenv/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [59]:
# Оставляем только VHI
df = df[['year', 'week', 'VHI', 'region_index',
       'region_name', 'new_region_index']]

# Реалізувати процедури для формування вибірок

In [62]:
# Максимум VHI для каждого года для каждого региона
df.drop('week', axis=1).groupby(['year', 'region_index', 'region_name', 'new_region_index']).max()

                                                      VHI
year region_index region_name     new_region_index
1982 1            Cherkasy        22                64.58
     2            Chernihiv       24                64.27
     4            Crimea          25                64.88
     5            Dnipropetrovs'k 3                 66.07
     6            Donets'k        4                 74.19
...                                                   ...
2020 23           Transcarpathia  6                 56.04
     24           Vinnytsya       1                 45.98
     25           Volyn           2                 56.80
     26           Zaporizhzhya    7                 44.11
     27           Zhytomyr        5                 48.41

[936 rows x 1 columns]

In [64]:
# Минимум VHI для каждого года для каждого региона
df.drop('week', axis=1).groupby(['year', 'region_index', 'region_name', 'new_region_index']).min()

                                                      VHI
year region_index region_name     new_region_index
1982 1            Cherkasy        22                23.83
     2            Chernihiv       24                30.98
     4            Crimea          25                30.43
     5            Dnipropetrovs'k 3                 27.91
     6            Donets'k        4                 28.39
...                                                   ...
2020 23           Transcarpathia  6                 38.94
     24           Vinnytsya       1                 40.92
     25           Volyn           2                 48.95
     26           Zaporizhzhya    7                 40.14
     27           Zhytomyr        5                 42.82

[936 rows x 1 columns]

In [66]:
# Года с экстримальной засухой VHI < 15 для каждого региона
df[df['VHI'] < 15]

      year  week    VHI  region_index   region_name  new_region_index
979   2000  44.0  14.64             1      Cherkasy                22
980   2000  45.0  11.82             1      Cherkasy                22
981   2000  46.0  10.81             1      Cherkasy                22
982   2000  47.0  10.68             1      Cherkasy                22
983   2000  48.0  12.30             1      Cherkasy                22
...    ...   ...    ...           ...           ...               ...
1332  2007  33.0  11.55            26  Zaporizhzhya                 7
1333  2007  34.0  10.88            26  Zaporizhzhya                 7
1334  2007  35.0  11.06            26  Zaporizhzhya                 7
1335  2007  36.0  12.05            26  Zaporizhzhya                 7
1336  2007  37.0  13.84            26  Zaporizhzhya                 7

[95 rows x 6 columns]

In [67]:
# Года с умеренной засухой VHI > 15 и VHI < 35 для каждого региона
df[(df['VHI'] > 15)&(df['VHI'] < 35)]

      year  week    VHI  region_index region_name  new_region_index
9     1982  10.0  33.31             2   Chernihiv                24
10    1982  11.0  32.02             2   Chernihiv                24
11    1982  12.0  33.98             2   Chernihiv                24
12    1982  13.0  34.63             2   Chernihiv                24
13    1982  14.0  34.47             2   Chernihiv                24
...    ...   ...    ...           ...         ...               ...
1965  2019  42.0  30.69            27    Zhytomyr                 5
1966  2019  43.0  30.77            27    Zhytomyr                 5
1967  2019  44.0  30.24            27    Zhytomyr                 5
1968  2019  45.0  32.06            27    Zhytomyr                 5
1969  2019  46.0  33.81            27    Zhytomyr                 5

[6541 rows x 6 columns]

In [ ]:
# Сохранить исходные данные в файл
df.to_csv('VHI_info.csv', index=False)